<p><label><%= l(:markdown_it_url) %></label><%= text_field_tag 'settings[markdown-it_url]', @settings['markdown-it_url'], size: 100 %></p>
<p><label><%= l(:htmlmacro_url) %></label><%= text_field_tag 'settings[htmlmacro_url]', @settings['htmlmacro_url'], size: 100 %></p>
<p><label><%= l(:css_url) %></label><%= text_field_tag 'settings[css_url]', @settings['css_url'], size: 100 %></p>
<p><label><%= l(:js_url) %></label><%= text_field_tag 'settings[js_url]', @settings['js_url'], size: 100 %></p>
<p><label><%= l(:collapsible_keyword) %></label><%= text_field_tag 'settings[collapsible_keyword]', @settings['collapsible_keyword'], size: 100 %></p>
<p><label><%= l(:markdown_keyword) %></label><%= text_field_tag 'settings[markdown_keyword]', @settings['markdown_keyword'], size: 100 %></p>
